<section class="devise-form">
  <div class="form-section">
    <h1>Let's start...</h1>
    <small>... your adventure</small>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="devise-field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name",class: "input", required: true %>
      </div>

      <div class="devise-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: "input", required: true %>
      </div>

      <div class="devise-field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password",class: "input", required: true %>
        <% if @minimum_password_length %>
          <em class="min-length">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </div>

      <div class="devise-field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation",class: "input", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Signup", class: "submit-btn" %>
      </div>
    <% end %>

    <small class="bottom-link">Already a user? <%= link_to "Click here", new_session_path(resource_name) %></small>
  </div>

  <div class="images">

  </div>
</section>
