<section class="devise-form">
  <div class="form-section">
    <h1>Let's start...</h1>
    <small>... your adventure</small>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="devise-field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name",class: "input", required: true %>
      </div>

      <div class="devise-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: "input", required: true %>
      </div>

      <div class="devise-field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password",class: "input", required: true %>
        <% if @minimum_password_length %>
          <em class="min-length">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </div>

      <div class="devise-field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation",class: "input", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Signup", class: "submit-btn" %>
      </div>
    <% end %>

    <small class="bottom-link">Already a user? <%= link_to "Click here", new_session_path(resource_name) %></small>
  </div>

  <div class="images">
    <div class="col">      
      <img class="image image-1" src="https://source.unsplash.com/featured?sunset" alt="">
      <img class="image image-2" src="https://source.unsplash.com/featured?winter" alt="">
    </div>

    <div class="col">
      <img class="image image-3" src="https://source.unsplash.com/featured?lava" alt="">
      <img class="image image-4" src="https://source.unsplash.com/featured?city,mosque" alt="">
      <img class="image image-5" src="https://source.unsplash.com/featured?mosque" alt="">
    </div>

    <div class="col">
      <img class="image image-6" src="https://source.unsplash.com/featured?new york" alt="">
      <img class="image image-7" src="https://source.unsplash.com/featured?nasa" alt="">  
    </div>

    <div class="col">
      <img class="image image-8" src="https://source.unsplash.com/featured?wallpaper" alt="">
      <img class="image image-9" src="https://source.unsplash.com/featured?spacex" alt="">
    </div>
    
    <div class="col">
      <img class="image image-10" src="https://source.unsplash.com/featured?dome" alt="">
      <img class="image image-11" src="https://source.unsplash.com/featured?tower" alt="">
    </div>
  </div>
</section>
