<%= form_with(model: @article, local: true, class: "form") do |f| %>
  <% if @article.errors.any? %>
    <div class="alert">
      <svg class="danger" width="50" height="50" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#c00" d="M270.2 160h35.5c3.4 0 6.1 2.8 6 6.2l-7.5 196c-.1 3.2-2.8 5.8-6 5.8h-20.5c-3.2 0-5.9-2.5-6-5.8l-7.5-196c-.1-3.4 2.6-6.2 6-6.2zM288 388c-15.5 0-28 12.5-28 28s12.5 28 28 28 28-12.5 28-28-12.5-28-28-28zm281.5 52L329.6 24c-18.4-32-64.7-32-83.2 0L6.5 440c-18.4 31.9 4.6 72 41.6 72H528c36.8 0 60-40 41.5-72zM528 480H48c-12.3 0-20-13.3-13.9-24l240-416c6.1-10.6 21.6-10.7 27.7 0l240 416c6.2 10.6-1.5 24-13.8 24z"></path></svg>
      <h4><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h4>

      <% @article.errors.full_messages.each do |message| %>
        <div class="alert-text"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title:*" %>
    <br>
    <%= f.text_field :title, class: "input", placeholder: "Your article's title", required: true %>
  </div>

  <div class="field">
    <%= f.label :image, "Image URL:*" %>
    <br>
    <%= f.text_field :image, class: "input", placeholder: "Your article's image URL", required: true %>
  </div>

  <div class="field">
    <label>Existing categories:</label>
    <ul class="category-list">
      <% @categories.each do |category| %>
        <li class="category"><%= category.name %></li>
      <% end %>      
    </ul>

    <p class="suggestion">You can use a category from here or add a new one</p>
  </div>

  <div class="field">
    <%= f.label :category_list, "Categories:*" %>
    <br>
    <%= f.text_field :category_list, placeholder: "#{@categories[0].name}, #{@categories[1].name}, ...", class: "input", required: true %>
  </div>

  <div class="field">
    <%= f.label :text, "Content:*" %>
    <br>
    <%= f.text_area :text, class: "text-area", rows: "15", placeholder: "Start writing...", required: true %>
  </div>

  <div class="field">
    <%= f.submit "Submit", disable_with: 'Submiting...', class: "submit-btn" %>    
  </div>
<% end %>
