
<%= form_with(model: @article, local: true, class: "form") do |f| %>
  <% if @article.errors.any? %>
    <h4><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h4>

    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title:*" %>
    <br>
    <%= f.text_field :title, class: "input", placeholder: "Your article's title", required: true %>
  </div>

  <div class="field">
    <%= f.label :image, "Image URL:*" %>
    <br>
    <%= f.text_field :image, class: "input", placeholder: "Your article's image URL", required: true %>
  </div>

  <div class="field">
    <label>Existing categories:</label>
    <ul class="category-list">
      <% @categories.each do |category| %>
        <li class="category"><%= category.name %></li>
      <% end %>      
    </ul>

    <p class="suggestion">You can use a category from here or add a new one</p>
  </div>

  <div class="field">
    <%= f.label :category_list, "Categories:*" %>
    <br>
    <%= f.text_field :category_list, placeholder: "#{@categories[0].name}, #{@categories[1].name}, ...", class: "input", required: true %>
  </div>

  <div class="field">
    <%= f.label :text, "Content:*" %>
    <br>
    <%= f.text_area :text, class: "text-area", rows: "15", placeholder: "Start writing...", required: true %>
  </div>

  <div class="field">
    <%= f.submit "Submit", disable_with: 'Submiting...', class: "submit-btn" %>    
  </div>
<% end %>
