<section class="devise-form">
  <div class="form-section">
    <h1>Welcome back</h1>
    <small>Start your adventure</small>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="devise-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: "input", required: true %>
      </div>

      <div class="devise-field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password",class: "input", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="devise-field checkbox">
          <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Login", class: "submit-btn" %>
      </div>
    <% end %>

    <small class="bottom-link">Don't have an account? <%= link_to "Click here", new_registration_path(resource_name) %></small>
  </div>

  <div class="images">
    <div class="col">      
      <img class="image image-1" src="https://source.unsplash.com/featured?sunset" alt="">
      <img class="image image-2" src="https://source.unsplash.com/featured?winter" alt="">
    </div>

    <div class="col">
      <img class="image image-3" src="https://source.unsplash.com/featured?lava" alt="">
      <img class="image image-4" src="https://source.unsplash.com/featured?city,mosque" alt="">
      <img class="image image-5" src="https://source.unsplash.com/featured?mosque" alt="">
    </div>

    <div class="col">
      <img class="image image-6" src="https://source.unsplash.com/featured?new york" alt="">
      <img class="image image-7" src="https://source.unsplash.com/featured?nasa" alt="">  
    </div>

    <div class="col">
      <img class="image image-8" src="https://source.unsplash.com/featured?wallpaper" alt="">
      <img class="image image-9" src="https://source.unsplash.com/featured?spacex" alt="">
    </div>
    
    <div class="col">
      <img class="image image-10" src="https://source.unsplash.com/featured?dome" alt="">
      <img class="image image-11" src="https://source.unsplash.com/featured?tower" alt="">
    </div>
  </div>
</section>
