<section class="category-articles">
  <% (0...@category.articles.length).each do |i| %>
    <% if i % 2 == 0 %>
      <div class="article-row">
    <% end %>
        <div class="article">
          <%= image_tag(@category.articles[i].image, size: "200x150", alt: "#{@category.articles[i].title}", class: "image") %>
          <article class="article-body">
            <h2><%= @category.name %></h2>
            <h3><%= @category.articles[i].title %></h3>
            <p class="author">by &nbsp;<span class="name"><%= @category.articles[i].author.name %></span></p>
            <p class="text"><%= @category.articles[i].text %></p>
            <%= display_vote_for(@category.articles[i]) %>
          </article>
        </div>       
    <% if i % 2 != 0 %>
      </div>
    <% end %>
  <% end %>
</section>
