<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <a href="<%= root_path %>" class="logo">liFEsTlYe</a>

        <ul class="nav-list">
          <li><a href="<%= root_path %>" class="nav-link active">home</a></li>
          <li><a href="<%= new_article_path %>" class="nav-link">write new article</a></li>
        </ul>

        <ul class="nav-list account">
          <% if user_signed_in? %>
            <li class="nav-link name"><%= current_user.name %></li>
            <li class="nav-link logout"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "login", new_user_session_path, class: "nav-link name" %></li>
            <li><%= link_to "register", new_user_registration_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    
    <footer class="footer">
      <a href="/" class="logo">liFEsTlYe</a>

      <ul class="footer-links">
        <li><a href="/">Privacy Policy</a></li>
        <li><a href="/">Terms &amp; Conditions</a></li>
        <li>Copyright 2020. All rights reserved</li>
      </ul>

      <ul class="footer-links social-links">
        <li>Connect with us:</li>
        <li><a href="/"><i class="fab fa-twitter"></i></a></li>
        <li><a href="/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="/"><i class="fab fa-facebook-f"></i></a></li>
      </ul>
    </footer>
  </body>
</html>
