<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %> | 
    <%= link_to "Write new article", articles_new_path %>
    <% if user_signed_in? %>
       | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
